In [21]:
# Mount our Google Drive
# from google.colab import drive

# drive.mount('/content/drive')

In [22]:
# Importing Necessary Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv("../../data/movie-data-csv/imdb.csv")
df.head(2).T

,0,1
ID,1,2
Title,Oscar et la dame rose,Cupid
genres,drama,thriller
plot,Listening in to a conversation between his doc...,A brother and sister with a past incestuous re...
date,2009.0,1997.0

### Data Understanding

In [24]:
df.columns

Index(['ID', 'Title', 'genres', 'plot', 'date'], dtype='object')

In [25]:
df.shape

(108414, 5)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108414 entries, 0 to 108413
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      108414 non-null  int64
 1   Title   108414 non-null  object
 2   genres  108414 non-null  object
 3   plot    108414 non-null  object
 4   date    99682 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.1+ MB

In [27]:
missing_info = df.isnull().sum().to_frame(name='Null Count')
missing_info['Null Percentage (%)'] = (df.isnull().mean() * 100).round(2)
missing_info = missing_info.sort_values(by='Null Count', ascending=False)
missing_info

        Null Count  Null Percentage (%)
date          8732                 8.05
ID               0                 0.00
Title            0                 0.00
genres           0                 0.00
plot             0                 0.00

In [28]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,108414.0,27104.000452,15648.285970,1.0,13552.25,27104.0,40655.75,54214.0
date,99682.0,1998.718786,22.928415,1891.0,1995.00,2008.0,2013.00,2022.0

Check the maximum and minimum length of plot description

In [29]:
# Calculate the length of each description
description_lengths = df['plot'].str.len()

max_length = description_lengths.max()
min_length = description_lengths.min()

print(f"Maximum plot description length: {max_length}")
print(f"Minimum plot description length: {min_length}")

Maximum plot description length: 10503
Minimum plot description length: 37

 Display the longest and shortest plot

In [30]:
# Get the index of the longest and shortest plot
longest_plot_index = description_lengths.idxmax()
shortest_plot_index = description_lengths.idxmin()

# Display the longest plot
print("Longest Plot:")
df.loc[longest_plot_index, 'plot']

Longest Plot:

'Guy Gabaldon died on August 31, 2006 and the world lost someone very special. During the bloody struggle for Saipan in July 1944, U.S. Marine PFC Guy Gabaldon is indeed officially credited with capturing over 1500 Japanese soldiers and civilians - singlehandedly, a record that is untouchable in the annals of American military history. For over sixty years, Guy talked about his exploits on that island, sharing his experience and using his celebrity to inspire new generations who valued bravery and bravado. However, war experience alone does not make a life, and Guy\'s didn\'t stop in 1944. He lived many different lives and most importantly he took it upon himself to help the less fortunate, particularly the wayward teenagers he encountered when he returned to the Mariana Islands in 1980, where he would live for twenty years. Guy Gabaldon grew up in East Los Angeles where he spent more time on the streets than at home. He would get into fights and he was thrown out of school at one point, but things began to change when he was introduced to the Japanese American community. Practically adopted by his Nisei school friends, Guy learned about the Japanese culture, its language, and the tight family structure that was alien to him. All of these elements - learned at first hand - would have a dramatic effect on his experiences on Saipan. When his Japanese American friends were interned after Pearl Harbor, Guy, 17, joined the Marine Corps, trained at Camp Pendleton, and was assigned as a scout to the 2nd Regiment of the 2nd Marine Division. His unit was then shipped to Hawaii, and then on into the Central Pacific, where he landed on Saipan, nine days after D-Day in Europe. Saipan was a rocky, cave-strewn island in the Mariana chain. It was part of the Japanese Empire\'s inner defense perimeter and it had an airfield within striking distance of Japan. It also had a large civilian population of Japanese and native islanders. The American high command in the Pacific had determined that the Marianas - Guam, Tinian and Saipan were a high priority for the war effort. B-29s were now flying and they needed a base to attack Japan. Saipan fit that bill. Guy Gabaldon didn\'t set out to be a hero. In the first few days of heavy fighting, he simply tried to survive murderous mortar, artillery and machine gun fire. But in succeeding days, he began to go on lone-wolf excursions into the countryside and he brought prisoners back. Japanese prisoners were a bit of an oddity at that time. The credo of most soldiers of the Japanese Army was kill or be killed. Japanese soldiers on Saipan were ordered to kill seven Marines for one Japanese. Thus, the campaign featured one suicide banzai charge after another. Capturing one Japanese was considered a feat - bringing in 1500 was unthinkable. But, amazingly, that\'s exactly what Guy Gabaldon did during the two months of early fighting on Saipan. At one point, he captured 800 in one day - his commanding officer Captain John Schwabe would later dub him "The Pied Piper of Saipan." How did Guy do it? Perhaps it was his language skill - Guy was hardly fluent in Japanese but he spoke the language with a certain inflection that reached into the psyche of the exhausted, hopelessly outnumbered island garrison. He had learned the words on the streets of L.A. with his Japanese-American friends, and those words helped him on the island. Perhaps it was the fact that the Japanese were, in the end, human beings who just couldn\'t fight anymore. Timing was thus everything. Guy wasn\'t hesitant to make a point with a hand grenade of a carbine if the enemy proved stubborn. But they eventually came out of their caves and became his prisoner. Guy was later wounded after the island was secured. Astonishingly, he was denied the Congressional Medal of Honor - a medal for which he was recommended by Captain Schwabe of the 2nd Marines. He did receive the Silver Star for his valor, but he was not promoted and left the Marine service as a PFC. Being Hispanic, perhaps, didn\'t help his cause. Racism and prejudice was rife throughout the U.S. armed forces in World War II and Guy was not immune to it. Guy returned to the United States, married a Japanese woman who was living in Mexico and became a successful pilot and importer. His story was first told on the television program "This is your Life" in the late 1950s. That program came to the attention of Hollywood and a movie was produced in 1960 entitled "Hell to Eternity." Actor Jeffrey Hunter played Guy. Hunter was your poster boy U.S. Marine - no reference was ever made to his Guy\'s Hispanic ethnicity. However, the notoriety of the film at that time encouraged the U.S. Navy to award Guy its highest decoration - the Navy Cross. But no Medal of Honor. Today, a strong effort is being waged by Congressmen, private business people and friends of Guy to get him the Medal. It would be measured as a sign of respect, not only to Guy, but to the people in America of Hispanic descent. Production Production on "East L.A. Marine" commenced in late 2003. Guy Gabaldon was enlisted as a creative partner on the project, and he was interviewed, at length, at his home outside Gainsville, Florida. We later interviewed his commanding officer, U.S. Marine Colonel John Schwabe, at his winter home in Tucson, Arizona. In June 2004, during the 60th Anniversary celebrations on Saipan, a local DV crew was hired and footage was gathered all over the island. Seventeen additional interviews were completed with returning veterans, local historians and friends of Guys. Guy and his wife had returned to the Island and lived there for many years - so he was well known throughout the Marianas. His autobiographical book Maverick Marine was published in 1990. Much of the footage that was gathered on the island is designed to match combat footage and still photographs taken of the campaign (yesterday and today shots). In early 2005, we interviewed a number of Hispanic veterans in Montebello, California. That May, we met Guy in Corpus Christi, Texas and helped celebrate Memorial Day with him. Footage of Guy participating in solemn commemorative ceremonies combined with nostalgic trips to the U.S.S. Lexington - a U.S. Essex-class aircraft carrier, that participated in the invasion of Saipan, sixty one years ago. In July 2006, Guy was honored by Mayor Antonio Villagairosa and the Los Angeles City Council. He was indeed a "favorite son" of the City of Los Angeles. This is the story of an extraordinary man - Guy Gabaldon - a U.S. Marine of Hispanic descent who single-handedly captured over 1100 Japanese during the bloody fighting on Saipan in the summer of 1944. One of the legendary heroes of World War II, Guy Gabaldon\'s true story is now told for the very first time in EAST L.A. MARINE: THE UNTOLD TRUE STORY OF GUY GABALDON. Guy Gabaldon\'s roots date back to the time of the Spanish conquistadors in New Mexico. Born in Los Angeles, Guy grew up in Boyle Heights where he spent more time on the streets than at home. He would get into fights and he was thrown out of school at one point, but things began to change when he was introduced to the Japanese American community. Practically adopted by his Nisei school friends, Guy learned about the Japanese culture, its language, and the tight family structure that was alien to him. All of these elements - learned at first hand - would have a dramatic effect on his experiences on Saipan. When his Japanese American friends were interned after Pearl Harbor, Guy, 17, joined the Marine Corps, trained at Camp Pendleton, and was assigned as a scout to the 2nd Regiment of the 2nd Marine Division. His combat unit landed on Saipan, nine days after D-Day in Europe. Saipan was a rocky, cave-strewn island in the Mariana chain. Guy Gabaldon didn\'t set out to be a hero. In the first few days of heavy fighting, he simply tried to survive murderous mortar, artillery and machine gun fire. But in succeeding days, he began to go on lone-wolf excursions into the countryside and he brought prisoners back. Japanese prisoners were an oddity at that time. The credo of most soldiers of the Japanese Army was kill or be killed. Japanese soldiers on Saipan were ordered to kill seven Marines for one Japanese. Thus, the campaign featured one suicide banzai charge after another. Capturing one Japanese was considered a feat - bringing in over 1500 was unthinkable. But, amazingly, that\'s exactly what Guy Gabaldon did during the two months of early fighting on Saipan. At one point, he captured 800 in one day - his commanding officer Captain John Schwabe would later dub him "The Pied Piper of Saipan." Guy was later wounded after the island was secured. Astonishingly, he was denied the Congressional Medal of Honor - a medal for which he was recommended by Captain Schwabe of the 2nd Marines. He did receive the Silver Star for his valor, but he was not promoted and left the Marine service as a PFC. Being Hispanic, perhaps, didn\'t help his cause. Racism and prejudice was rife throughout the U.S. armed forces in World War II and Guy was not immune to it. Fifteen years after the end of World War II, Guy\'s story was dramatized in the 1960 war film, HELL TO ETERNITY. Since there were no Hispanic leading men at that time, producer Irvin Levin decided to cast Jeffrey Hunter as Guy. Hunter was 6\'1" and Caucasian, a poster-boy Marine type. In reality, Guy "Gabby" Gabaldon was 5\' 3 3/4" and of Hispanic descent - an important facet of Guy\'s life that was ignored in the film. Although nicely written by Ted Sherdeman and directed in slam bang style by Phil Karlson (the movie was the first to feature on-screen squib bullet hits on bodies), much of the story was invented and the manner in which General Matsui ("Bridge on the River Kwai\'s" Sessue Hayakawa) personally ordered the whole island to surrender to Guy was ludicrous. One positive aspect of HELL TO ETERNITY was that it woke up the Marine Corps to Gabaldon\'s contribution and he was awarded the Navy Cross at El Toro Marine Air Station in 1960. However, any effort to get the Corps to endorse the Congressional Medal of Honor was stymied. Guy Lewis Gabaldon died of a heart attack on August 31, 2006. He was 80. Today, a strong effort is being waged by Congressmen, private business people and friends of Guy to get him the Medal posthumously. It would be measured as a sign of respect, not only to Guy, but to the people in America of Hispanic descent who fought in World War II. ###'

In [31]:
print("Shortest Plot:")
df.loc[shortest_plot_index, 'plot']

Shortest Plot:

'Documental sobre trabajo en el campo.'

Maximum and minimum movie released year

In [32]:
latest_movie_year = df['date'].max()
oldest_movie_year = df['date'].min()

print(f"Latest oldest year of a movie : {latest_movie_year}")
print(f"Oldest realease year a movie: {oldest_movie_year}")

Latest oldest year of a movie : 2022.0
Oldest realease year a movie: 1891.0

Unique Genres

In [33]:
df['genres'].nunique()

27

In [34]:
df['genres'].unique()

array(['drama', 'thriller', 'adult', 'documentary', 'comedy', 'crime',
       'reality-tv', 'horror', 'sport', 'animation', 'action', 'fantasy',
       'short', 'sci-fi', 'music', 'adventure', 'talk-show', 'western',
       'family', 'mystery', 'history', 'news', 'biography', 'romance',
       'game-show', 'musical', 'war'], dtype=object)

### EDA

In [35]:
df.head()

,ID,Title,genres,plot,date
0,1,Oscar et la dame rose,drama,Listening in to a conversation between his doc...,2009.0
1,2,Cupid,thriller,A brother and sister with a past incestuous re...,1997.0
2,3,"Young, Wild and Wonderful",adult,As the bus empties the students for their fiel...,1980.0
3,4,The Secret Sin,drama,To help their unemployed father make ends meet...,1915.0
4,5,The Unrecovered,drama,The film's title refers not only to the un-rec...,2007.0

In [36]:
from collections import Counter

# Step 1: Split genres (handles multi-genre entries like "drama, thriller")
df['genres'] = df['genres'].dropna().apply(lambda x: [genre.strip() for genre in x.split(',')])
# Step 2: Flatten the list
all_genres = sum(df['genres'], [])

# Step 3: Count and create DataFrame
genre_counts = Counter(all_genres)
genre_df = pd.DataFrame(genre_counts.items(), columns=['genres', 'Count']).sort_values(by='Count', ascending=False).reset_index(drop=True)
genre_df['Percentage (%)'] = (genre_df['Count'] / genre_df['Count'].sum()) * 100

genre_df

         genres  Count  Percentage (%)
0         drama  27225       25.112070
1   documentary  26192       24.159241
2        comedy  14893       13.737156
3         short  10145        9.357648
4        horror   4408        4.065896
5      thriller   3181        2.934123
6        action   2629        2.424964
7       western   2064        1.903813
8    reality-tv   1767        1.629863
9        family   1567        1.445385
10    adventure   1550        1.429705
11        music   1462        1.348534
12      romance   1344        1.239692
13       sci-fi   1293        1.192650
14        adult   1180        1.088420
15        crime   1010        0.931614
16    animation    996        0.918701
17        sport    863        0.796023
18    talk-show    782        0.721309
19      fantasy    645        0.594942
20      mystery    637        0.587562
21      musical    553        0.510082
22    biography    529        0.487944
23      history    486        0.448282
24    game-show    387        0.356965
25         news    362        0.333905
26          war    264        0.243511