In [36]:
import os
import ast
import random
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('../../data/movie-review-data/plot-movies-reviews.csv')
df_tmdb = pd.read_csv('../../data/movie-data-csv/TMDB_movie_dataset_v11.csv', low_memory=False)

In [38]:
df.sample(1).T

                                                                   6695
id                                                       future_weather
originalScore         [nan, nan, '4/5', '2.5/4', '3.5/5', '3/5', 'B-...
reviewText            {'Nicholas Bell': 'For her feature film debut,...
PositiveCount                                                        13
NegativeCount                                                         1
TotalReviews                                                         14
title                                                    Future Weather
releaseDateStreaming                                         2013-04-16
runtimeMinutes                                                    100.0
genre                                                         ['drama']
originalLanguage                                                English
director                                                   Jenny Deller
writer                                                     Jenny Deller
plot                  Abandoned by her dreamer single mom, a teenage...

In [39]:
df.shape

(17769, 14)

In [40]:
df_tmdb.sample(1).T

                                                                 753480
id                                                              1317588
title                     RevPro Presents CMLL Fantastica Mania UK 2024
vote_average                                                        0.0
vote_count                                                            0
status                                                         Released
release_date                                                 2024-05-19
revenue                                                               0
runtime                                                               0
adult                                                             False
backdrop_path                          /6dY3Xr6gnBOZFYC3JWUgj4pAiT5.jpg
budget                                                                0
homepage                                                            NaN
imdb_id                                                             NaN
original_language                                                    en
original_title            RevPro Presents CMLL Fantastica Mania UK 2024
overview              Fantastica Mania UK 2024 wasa professional wre...
popularity                                                        0.986
poster_path                            /e26ZacZu0T3sP7HKPQFfIQAHLlw.jpg
tagline                                                             NaN
genres                                                              NaN
production_companies                                                NaN
production_countries                                                NaN
spoken_languages                                                    NaN
keywords                                                            NaN

In [41]:
df_tmdb.shape

(1269226, 24)

In [42]:
common_titles = set(df['title']) & set(df_tmdb['title'])
print(f"Number of common titles: {len(common_titles)}")

Number of common titles: 16273

In [43]:
# Merge df and df_tmdb on the 'title' column
df = df.merge(
    df_tmdb[['title', 'id']],  # keep only the tmdb 'id' and 'title'
    on='title',
    how='left'
)

# Rename 'id_y' (from tmdb) to 'tmdbId' and keep original df id as is
df = df.rename(columns={'id_y': 'tmdbId', 'id_x': 'id'})
df.sample(1).T

                                                                  79066
id                                                        victoria_2015
originalScore         ['4/5', '3.5/5', nan, '3.5/5', '8/10', nan, '3...
reviewText            {'Kat Halstead': 'Filmed in one shot, this low...
PositiveCount                                                       113
NegativeCount                                                        24
TotalReviews                                                        137
title                                                          Victoria
releaseDateStreaming                                         2016-03-08
runtimeMinutes                                                    138.0
genre                          ['mystery & thriller', 'crime', 'drama']
originalLanguage                                                English
director                                             Sebastian Schipper
writer                Sebastian Schipper,Olivia Neergaard-Holm,Eike ...
plot                  The story of Queen Victoria, who came to the t...
tmdbId                                                         665413.0

In [44]:
df.shape

(81865, 15)

In [45]:
df.isnull().sum()

id                          0
originalScore               0
reviewText                  0
PositiveCount               0
NegativeCount               0
TotalReviews                0
title                       0
releaseDateStreaming     6774
runtimeMinutes            845
genre                     538
originalLanguage         1446
director                  308
writer                  10600
plot                        0
tmdbId                    218
dtype: int64

In [46]:
df = df.dropna()
df.isnull().sum()

id                      0
originalScore           0
reviewText              0
PositiveCount           0
NegativeCount           0
TotalReviews            0
title                   0
releaseDateStreaming    0
runtimeMinutes          0
genre                   0
originalLanguage        0
director                0
writer                  0
plot                    0
tmdbId                  0
dtype: int64

In [47]:
df.shape

(65482, 15)

In [48]:
df = df.drop_duplicates(subset='id', keep='first')
df.shape

(14050, 15)

In [49]:
# Select a random index
random_index = random.randint(0, len(df) - 1)

# Fetch the row
random_row = df.iloc[random_index]

# Print the full row neatly
print(f"TMDB ID: {random_row['tmdbId']}")
print(f"Title: {random_row['title']}")
print(f"Streaming Release Date: {random_row['releaseDateStreaming']}")
print(f"Runtime (minutes): {random_row['runtimeMinutes']}")
print(f"Genre: {random_row['genre']}")
print(f"Language: {random_row['originalLanguage']}")
print(f"Director: {random_row['director']}")
print(f"Writer: {random_row['writer']}\n")
print(f"Review Texts: {random_row['reviewText']}\n")
print(f"Movie Plot: {random_row['plot']}\n")
print(f"Positive Count: {random_row['PositiveCount']}")
print(f"Negative Count: {random_row['NegativeCount']}")
print(f"Total Review Count: {random_row['TotalReviews']}")

TMDB ID: 3114.0
Title: The Searchers
Streaming Release Date: 2006-06-06
Runtime (minutes): 119.0
Genre: ['western']
Language: English
Director: John Ford
Writer: Alan Le May,Frank S. Nugent

Review Texts: {'Edward Porter': '... Its boldness is compelling.', 'Victor Pineyro': 'A road movie disguised as a western. Ford deals with revenge, redemption, love, violence and obsession in a beautifully shot film by veteran cinematographer William C. Hoch. Full review in Spanish', 'Francois Truffaut': 'John Ford symbolizes an age of Hollywood, the one when good health prevailed over intelligence, craftiness over sincerity. This age has gone; Elia Kazan’s and Nicholas Ray’s movies make more money than John Ford’s, poetry triumphs over entertainment.', 'Brian Eggert': "The motion picture Ford considered his own masterpiece confronts prior standards, meets issues of revenge and discrimination within a ponderous text, and revises the director's Western model forevermore.", 'Don Shanahan': 'Gorgeous cinematography versus pushback politics.', 'Bradley Gibson': 'Entertaining, well-acted and directed, and beautiful to watch.', 'Sarah Brinks': "Overall, I didn't enjoy The Searchers very much. I respect Ford as a filmmaker and I think he did his best to show a realistic view of how settlers felt about the Native Americans but it is still a tough film to watch with modern eyes.", 'Mike Massie': 'Though it made no impression at the Academy Awards for 1956, the film was - and is now considered - a masterpiece to which all other Westerns are inevitably measured.', 'Matt Neal': "The Searchers is the most important western of all time, but more than that, it's one of the most important movies of all time.", 'Alberto Abuín': 'It is the silent witness of the bravest, and most wonderfully subtle, love story ever told in the seventh art. [Full Review in Spanish]', 'Kyle Smith': 'Apart from its stunning Monument Valley photography, The Searchers is mostly hokey and thinly written.', 'Michael Wilmington': "[The Searchers is] Ford's greatest western, with John Wayne as the relentless adventurer Ethan Edwards.", 'Jack Moffitt': 'This C.V. Whitney production is undoubtedly one of the greatest Westerns ever made.', 'Wesley Lovell': 'One of the better examples of the western genre.', 'Rob Nelson': 'Call Ethan one widescreen reminder of fear and guilt for a country that deserved at least one.', 'Keith H. Brown': 'An absolute must see.', 'Cole Smithey': 'A truly great western.', 'Ronald Holloway': 'Some fine vignettes of frontier life in the early southwest and a realistic presentation of the difficulties faced by the settlers in carving out a homestead in dangerous Indian country.', 'Dave Kehr': 'Through the central image of the frontier, the meeting point of wilderness and civilization, Ford explores the divisions of our national character, with its search for order and its need for violence, its spirit of community and its quest for independence', 'John J. Puccio': '...a much more multi-layered Western than most other such examples of the genre, and it is surely a classic of its kind.', 'Emanuel Levy': "One of Ford's undisputed masterpiecs and a quintessential text of the 1950s, a rare Western that explores the deep roots of racism (and sexism) in American life, and gives John Wayne his most complex performance as the anomic hero.", 'Chris Cabin': "The minute The Searchers begins, it's impossible to look away.", 'Steve Crum': "John Wayne's best film, which says a prairie-full. Haunting, unforgettable.", 'Derek Adams': "There is perhaps some discrepancy in the play between Wayne's heroic image and the pathological outsider he plays here (forever excluded from home, as the doorway shots at beginning and end suggest), but it hardly matters, given the film's visual splendou", "Chuck O'Leary": nan, 'Philip Martin': 'It may also be the best American movie, or at least the most American movie ....', 'Jonathan R. Perry': 'THE great American western.', 'Steven D. Greydanus': "The Searchers's reputation is so widely accepted that it's a surprise to discover that the film, and Wayne's character, are more complex than the reputation suggests.", 'Phil Villarreal': 'This is a film for the ages.', 'Nicolas Lacroix': nan, 'Chris Barsanti': nan, 'Greg Maki': nan, 'Ken Hanke': "A powerful piece of filmmaking -- one of Ford's best works -- and I'd urge anyone who hasn't seen it to do so -- and decide for themselves what the film is or isn't saying", 'Carol Cling': nan, 'Bosley Crowther': 'A rip-snorting Western, as brashly entertaining as they come.', 'Louis Black': "Damn, this is Wayne's movie.", 'Bob Bloom': "A timeless classic, Wayne's most complex role. For anyone who says he cannot act, check this movie out!", 'Scott Weinberg': nan, 'Jeffrey Westhoff': nan, 'John A. Nesbit': "...it won't play as well with Native American audiences or with people sensitive to its inadvertent racism", 'Roger Ebert': "Contains scenes of magnificence, and one of John Wayne's best performances.", 'Almar Haflidason': 'On the scale of Westerns this is undoubtedly one of the most grand.', 'Andrew Howe': "If ever you need proof of the worth of the genre, you'll find it here.", 'James Kendrick': 'a landmark Western that is at once a great, rousing adventure story, a fable about the nature of quest and fulfillment and an exploration of vicious racism', 'Dennis Schwartz': 'The quintessential American film about what it once meant to be American.', 'Dragan Antulov': 'A film that belongs to the category of so-called "important" movies - those which are remembered less by their own merit, and more by the way they influenced future film- makers.', 'Jeffrey M. Anderson': "The Searchers gets so close to greatness you can almost smell it. It's easy to see why Martin Scorsese, George Lucas, and many others have championed it.", 'Tim Dirks': 'The Searchers (1956) is considered by many to be a true American masterpiece of filmmaking, and the best and perhaps most-admired film of director John Ford.', 'Tom Keogh': 'The final shot of this genuine epic says everything the Western ever had to say about the price of the American frontier and those forgotten bones upon which a nation was built.', 'Matt Easterbrook': 'No one could use Monument Valley locations like John Ford could.'}

Movie Plot: As a Civil War veteran spends years searching for a young niece captured by Indians, his motivation becomes increasingly questionable.

Positive Count: 47
Negative Count: 3
Total Review Count: 50

In [50]:
df.to_csv('../../data/final-data/data.csv', index=False)