In [12]:
import os
import ast
import random
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('../../data/movie-review-data/plot-movies-reviews.csv')
df_tmdb = pd.read_csv('../../data/movie-data-csv/TMDB_movie_dataset_v11.csv', low_memory=False)

In [14]:
df.sample(1).T

                                                                    295
id                                                     1002332-big_heat
originalScore         ['4/4', '2.5/4', '4/5', '9/10', nan, '5/5', '5...
reviewText            {'Brian Eggert': 'The Big Heat is a juicy and ...
PositiveCount                                                        30
NegativeCount                                                         0
TotalReviews                                                         30
title                                                      The Big Heat
releaseDateStreaming                                         2001-12-18
runtimeMinutes                                                     90.0
genre                                                ['crime', 'drama']
originalLanguage                                                English
director                                                     Fritz Lang
writer                                              William P. McGivern
plot                  Dave Bannion is an upright cop on the trail of...

In [15]:
df.shape

(17769, 14)

In [16]:
df_tmdb.sample(1).T

                                                                1175048
id                                                               749003
title                 Black huge members versus Reiko Kobayakawa's a...
vote_average                                                        0.0
vote_count                                                            0
status                                                         Released
release_date                                                 2013-08-25
revenue                                                               0
runtime                                                             127
adult                                                              True
backdrop_path                                                       NaN
budget                                                                0
homepage                                                            NaN
imdb_id                                                             NaN
original_language                                                    ja
original_title                             黒人巨大マラ VS 小早川玲子 驚異のグラマラス・ボディ
overview                                                            NaN
popularity                                                          0.6
poster_path                            /gFnWyvn3xtEwYmu1gkMDooysuWK.jpg
tagline                                                             NaN
genres                                                            Drama
production_companies                         Global Media Entertainment
production_countries                                              Japan
spoken_languages                                      English, Japanese
keywords                       married woman, interracial sex, gangbang

In [17]:
df_tmdb.shape

(1269226, 24)

In [18]:
common_titles = set(df['title']) & set(df_tmdb['title'])
print(f"Number of common titles: {len(common_titles)}")

Number of common titles: 16273

In [19]:
# Merge df and df_tmdb on the 'title' column
df = df.merge(
    df_tmdb[['title', 'id']],  # keep only the tmdb 'id' and 'title'
    on='title',
    how='left'
)

# Rename 'id_y' (from tmdb) to 'tmdbId' and keep original df id as is
df = df.rename(columns={'id_y': 'tmdbId', 'id_x': 'id'})
df.sample(1).T

                                                                  22549
id                                                    black_friday_2021
originalScore         ['2.5/5', '3/5', '2/5', '3/5', '3/5', nan, '2/...
reviewText            {'Keith Garlington': 'It&#8217;s an entertaini...
PositiveCount                                                        13
NegativeCount                                                         7
TotalReviews                                                         20
title                                                      Black Friday
releaseDateStreaming                                         2021-11-23
runtimeMinutes                                                     80.0
genre                         ['holiday', 'horror', 'sci-fi', 'comedy']
originalLanguage                                                English
director                                                     Casey Tebo
writer                                                  Andy Greskoviak
plot                  Bombs tear through Bombay, wreaking havoc and ...
tmdbId                                                          68666.0

In [20]:
df.shape

(81865, 15)

In [21]:
df.isnull().sum()

id                          0
originalScore               0
reviewText                  0
PositiveCount               0
NegativeCount               0
TotalReviews                0
title                       0
releaseDateStreaming     6774
runtimeMinutes            845
genre                     538
originalLanguage         1446
director                  308
writer                  10600
plot                        0
tmdbId                    218
dtype: int64

In [22]:
df = df.dropna()
df.isnull().sum()

id                      0
originalScore           0
reviewText              0
PositiveCount           0
NegativeCount           0
TotalReviews            0
title                   0
releaseDateStreaming    0
runtimeMinutes          0
genre                   0
originalLanguage        0
director                0
writer                  0
plot                    0
tmdbId                  0
dtype: int64

In [23]:
df.shape

(65482, 15)

In [29]:
# Select a random index
random_index = random.randint(0, len(df) - 1)

# Fetch the row
random_row = df.iloc[random_index]

# Print the full row neatly
print(f"TMDB ID: {random_row['tmdbId']}")
print(f"Title: {random_row['title']}")
print(f"Streaming Release Date: {random_row['releaseDateStreaming']}")
print(f"Runtime (minutes): {random_row['runtimeMinutes']}")
print(f"Genre: {random_row['genre']}")
print(f"Language: {random_row['originalLanguage']}")
print(f"Director: {random_row['director']}")
print(f"Writer: {random_row['writer']}\n")
print(f"Review Texts: {random_row['reviewText']}\n")
print(f"Movie Plot: {random_row['plot']}\n")
print(f"Positive Count: {random_row['PositiveCount']}")
print(f"Negative Count: {random_row['NegativeCount']}")
print(f"Total Review Count: {random_row['TotalReviews']}")

TMDB ID: 286554.0
Title: Two Night Stand
Streaming Release Date: 2015-01-06
Runtime (minutes): 86.0
Genre: ['romance', 'comedy']
Language: English
Director: Max Nichols
Writer: Mark Hammer

Review Texts: {'Debbie Lynn Elias': 'Exuberant and engaging, filled with youthful fun and genuine moments of wide-eyed enchantment, Two Night Stand captures the heart with humor and sweet romance.', 'Nicholas Bell': "Regardless of what side of the line you're on, its nifty frankness aside, there isn't much to recall when all the bland assimilations of cute preciousness fade into the ether.", "Stephen O'Nion": 'Director Max Nichols serves up a few laughs but otherwise allows Two Night Stand to inch towards its status as predictable, bland Valentine\'s fare you might select having exhausted Netflix\'s other "Quirky Romance" options.', 'Ben Nicholson': 'Rather than zinging with intelligence, it instead becomes mired in smug passive-aggression that manages to be nothing like as frank as it thinks it is.', 'Matt Wolf': "What's missing is a sufficiently varied narrative engine to keep this extended conceit on track; you may find yourself wishing the snow would melt long before the characters do.", 'Reagan Gavin Rasquinha': 'It keeps you engaged and is often amusing.', 'Jason Best': "Teller and Tipton make an appealingly awkward duo and their chemistry compensates for the film's contrived setup.", 'Alex Zane': 'Fortunately, we have the sparkling Analeigh Tipton as Megan and the very likeable Miles Teller as Alec to keep this slight script alive.', 'David Nusair': "...it's ultimately the endless charm of the actors that prevents one from checking out completely.", 'David Edwards': "The makers were aiming for a how-we-date-now rom-com. Instead, they've made a film that might have seemed hip 10 years back but now seems dated, cold and cynical.", 'Stefan Pape': "Though the simplicity of this narrative, and the restricted, confined setting is a unique selling point for Nichols, it's also suffocating, and to the filmmaker's detriment.", 'Geoffrey Macnab': "This attempt as a latter-day screwball romance, released in time for Valentine's Day, is charming in parts but also contrived.", 'Allan Hunter': 'The easy charm of stars Miles Teller and Analeigh Tipton more than compensates for a screenplay that never quite bridges the divide between old-fashioned romance and the cruder tone that seems par for the course in modern comedy.', 'David Parkinson': 'Charming performances from both leads and insightful vignettes makes up for occasional clumsy writing and plot developments.', 'John Ferguson': "While there is plenty of rude banter and are a few good laughs, Mark Hammer's script is neither witty nor insightful enough to carry the load.", 'Mike McCahill': "Two Night Stand is a notch below popping to Nando's on the list of things to do with a significant other this Valentine's.", 'Rich Cline': 'Miles Teller and Analeigh Tipton are smart enough actors to make the most of this uneven romantic comedy', 'Nikki Baughan': 'Two Night Stand is as generic as they come.', 'Tom Huddleston': 'Yet another would-be charming male fantasy about how even the smartest girls can be charmed out of their pants by a schlubby doofus with a penchant for heavy negging.', 'MaryAnn Johanson': "Apparently written by the same people who write the ridiculous quizzes and sex-tip listicles in Cosmo and Men's Health...", 'Christine N. Ziemba': "Teller has a relaxed, onscreen persona that endeared audiences in last year's The Spectacular Now, and Tipton keeps up brilliantly in her first lead role, effortlessly alternating between an ingenue and sex kitten.", 'Frederic and Mary Ann Brussat': 'Two members of the Millennial generation trying to figure out the formula for intimacy.', 'Elias Savada': "Two Night Stand takes place between Christmas and New Year's, but there's no holiday mirth to cheer about here.", 'Sam Fragoso': 'A foreign film without subtitles - a movie whose language is incomprehensible to anyone who has truthfully been involved.', 'Todd Jorgenson': '... more like a failed sitcom pilot than an insightful look at contemporary relationships.', 'Jim Judy': "This is really just a standard, R-rated rom-com in cinematic sheep's clothing that follows the usual trajectory of the genre. (Complete Content Review for Parents Also Available)", "Mike D'Angelo": 'Two Night Stand is much more comfortable telling than it is showing', 'S. Jhoanna Robledo': 'Offbeat romcom takes frank look at sex, relationships.', 'Glenn Kenny': "A slight but not-unengaging Young Person's Romantic Comedy ...", 'Travis Hopson': 'Modestly charming and even perceptive.', 'Tirdad Derakhshani': 'Featuring strong dialogue and terrific performances, the film has moments of near-brilliance, but falls apart with a lame, conventional ending.', 'Kirk Honeycutt': 'A modest film that showcases the talent of Miles Teller and Analeigh Tipton.', 'Betsy Sharkey': 'It turns out "Two Night Stand" is a one-act sex comedy badly in need of two more - acts, not nights.', 'Ben Kenigsberg': "It's hard not to root for this couple - and, more to the point, these actors - to get together again.", 'John Hanlon': 'A "romantic comedy" that is neither romantic or comedic. It is as unambitious as its misguided main characters.', 'Stephanie Merry': 'As with most romantic comedies, the story falls apart with the formulaic injection of tension and the ensuing resolution, which is utterly outrageous even by rom-com standards.', 'Mick LaSalle': '"Two Night Stand" has its moments. But moments are all this movie has - and all its characters are likely to get.', 'Marsha McCreadie': "These two are nice, though, which is nice. But the film is a date you won't want to repeat, despite its sparkly out-of-left-field conclusion. It's just another casual encounter, not a lasting thing.", 'Jenni Miller': 'Two Night Stand comes so close to saying something insightful about dating in the digital age that the inevitable letdown is more bitter than usual.', 'Amy Nicholson': 'Honest? Sure. Romantic, funny, and charming? Not even close.', 'Elizabeth Weitzman': 'Teller is, by far, the best thing about this easygoing, stubbornly generic independent romance from Max Nichols.', 'Sara Stewart': 'As a testament to the power of good old-fashioned face-to-face conversation as aphrodisiac, the film works fairly well, if not as a primer on safe online dating.', 'James Rocchi': 'Charming but contrived, more slapdash than sexy and more interested in late-act reversals than real-life relationships, "Two Night Stand" isn\'t really going to scratch anyone\'s itchy spots, no matter how far it\'s willing to go in trying to do so.', 'Nick McCarthy': "It's attempt at conveying a candid portrait of contemporary hookup culture and the dishonesty of online dating profiles, but the film's sentiments are all past their expiration date.", 'Stephen Farber': 'A likeable but forgettable trifle.', 'Ella Taylor': '"Two Night Stand\'s" strength lies in the doubts and the ambivalence it expresses about the way we love now.', 'Tim Grierson': 'A perfectly pleasant, utterly disposable romantic comedy.'}

Movie Plot: After an extremely regrettable one night stand, two strangers wake up to find themselves snowed in after sleeping through a blizzard that put all of Manhattan on ice. They're now trapped together in a tiny apartment, forced to get to know each other way more than any one night stand should.

Positive Count: 18
Negative Count: 29
Total Review Count: 47

In [31]:
df.to_csv('../../data/final-data/data.csv', index=False)